<h3 class="mt-2" style="font-size: 18px;">ng-switch works!</h3>

<div [ngSwitch] = "dkSwitch">
    <div *ngSwitchCase="'red'" style="background-color: red; width: 80px; height: 30px;"></div>
    <div *ngSwitchCase="'blue'" style="background-color: blue; width: 80px; height: 30px"></div>
    <div *ngSwitchCase="'green'" style="background-color: green; width: 80px; height: 30px"></div>
    <div *ngSwitchDefault style="background-color: orange; width: 80px; height: 30px"></div>
</div>
<select class="mt-3" #t (change)="changeColor(t.value)">
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
    <option value="orange">Orange</option>
</select>