.home {
  // position: relative;

  .Carousel {
    // margin-top: 50px;
  }
  .list_movie {
    .more {
      display: flex;
      margin: auto;
    }
  }
  .bg_page {
    .bg-Blur {
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 0;
      left:0;
      bottom: 0;
      transform: translate(-50%, -50%);
      z-index: 0;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
  }

  .bg_home {
    background-image: url("../../../assets/images/Untitled.png");
    background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: left bottom;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
}
