<div class="danh_sach_ghe">
    <div class="bg_page">
        <img src="../../../../assets/images/banner.jpg" alt="">
    </div>
    <div class="bg-booking">
        <div class="row">
            <div class="col-3 mx-auto p-4 text-center">
                <div class="screen"></div>
                <app-ghe *ngFor="let ghe of dsGhe" [item]="ghe" (emitStatus)="datGheParent($event,ghe)"></app-ghe>
            </div>
        </div>
        <div class="info ">
            <div class="so_ghe m-2">
                <table class="text-center">
                    <tr>
                        <td>
                            Số ghế đã đặt:
                        </td>
                        <td class="w-50">{{soGheDaDat}}</td>
                    </tr>
                    <tr>
                        <td>Số ghế còn lại:</td>
                        <td class="w-50">{{soGheConLai}}</td>
                    </tr>
                </table>
            </div>
            <div class="note ">
                <div class="row pb-2">
                    <div class="col-6">
                        <div class="item_color screen_color">
                            <div class="color mr-2" [ngStyle]="{'background-color':bgColor}"></div>
                            <p class="detail">Màn hình</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item_color ghe_da_dat">
                            <div class="color mr-2" [ngStyle]="{'background-color':bgColor1}"></div>
                            <p class="detail">Ghế đã đặt</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="item_color ghe_chua_dat">
                            <div class="color mr-2 " [ngStyle]="{'background-color':bgColor2}"></div>
                            <p class="detail">Ghế chưa đặt</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item_color ghe_chua_dat">
                            <div class="color mr-2 " [ngStyle]="{'background-color':bgColor3}"></div>
                            <p class="detail">Ghế đang chọn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table class="price">
                    <tr>
                        <th class="p-1">Số ghế chọn</th>
                        <th class="p-1">Giá</th>
                    </tr>
                    <tr>
                        <td rowspan="1" class="item w-50 p-1"><span *ngFor="let ghe of soGheDangDat">{{ghe.SoGhe}},
                            </span>
                        </td>
                        <td rowspan="1" class="item w-50 p-1"><span>{{giaVe}} </span>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>