.register {
  width: 40%;
  margin: 0 auto;
  padding-top: 40px;
  .title {
    color: #e1c9c9;
    cursor: context-menu;
  }
  .form_register {
    margin-top: 40px;
    background: rgba(128, 128, 128, 0.34);
    border-radius: 15px;
    // padding-top: 40px;
    // padding-bottom: 40px;
    padding: 40px;
    .form-group {
        padding: 10px 0;
      .form_cpn {
        color: #e1c9c9;
        font-size: 15px;
      }
      input {
        color: #e1c9c9;
        background-color: #ffffff00;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
        padding: 0;
        height:  30px;
        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
          border-bottom: 1px solid black;
        }
      }
      .alert-danger {
        background-color: #ffffff00;
        border: none;
        padding: 0;
        margin-bottom: 0;
        margin-top: 10px;
        .text-danger {
          font-size: 15px;
        }
      }
    }
    .btn {
      background-color: #e1c9c9;
      display: flex;
      margin: 50px auto 0;
    }
  }
}
