<div class="menu">
    <ul class="nav flex-column">
        <li class="navbar-brand" routerLink="/client/home">
            <p class="text">
                <span class="text_1">sayohyeah</span>
            </p>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active"><span><i
                        class="bi bi-pie-chart"></i></span>Bảng điều khiển</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/user-management/" [queryParams]="" routerLinkActive="active">
                <span><i class="bi bi-person"></i></span>Quản lý người dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/movie-management"  [queryParams]="" routerLinkActive="active"><span><i
                        class="bi bi-film"></i></span>Quản lý phim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/showtimes-management" routerLinkActive="active"><span><i
                        class="bi bi-calendar4-event"></i></span>Quản lý lịch chiếu</a>
        </li>
    </ul>
</div>