<!-- <button class="btn btn-success">Click</button> -->
<!-- <app-demo-com></app-demo-com> -->
<!-- <app-client></app-client> -->
<!-- <app-lesson></app-lesson> -->
<!-- <button mat-button color="primary">Primary</button>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>
<router-outlet></router-outlet> -->

<div class="router">
    <router-outlet></router-outlet>
</div>
<app-dialog></app-dialog>
