.login {
    padding-top: 40px;
    .title {
      color: #e1c9c9;
      cursor: context-menu;
    }
    .form_login {
      margin-top: 40px !important;
      width: 40%;
      margin: 0 auto;
      background: rgba(128, 128, 128, 0.34);
      border-radius: 15px;
      padding-top: 40px;
      padding-bottom: 40px;
      .login_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .text {
        display: flex;
        font-style: italic;
        font-weight: 100;
        cursor:context-menu;
  
        .text_1 {
          color: white;
          font-size: 25px;
          text-transform: uppercase;
        }
        .text_2 {
          color: aqua;
          font-size: 20px;
          margin-top: 2px;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        // width: 50%;
        align-items: flex-start;
        // justify-content: flex-start;
        margin: 0 auto;
        .userName {
          color: #e1c9c9;
          font-size: 17px;
        }
        .password {
          font-size: 17px;
          color: #e1c9c9;
        }
        span {
          font-size: 15px;
          cursor: context-menu;
        }
        .btn {
          background-color: darkgrey;
        }
        .text_if_none_account {
          color: #e1c9c9;
          font-size: 15px;
          padding-top: 30px;
          cursor: context-menu;
        }
        input{
            color: #fafafa;
        }
      }
      .example-full-width {
        width: 230px !important;
        margin-bottom: 20px;
      }
      .register_link {
        cursor: pointer;
        text-decoration: none;
        font-size: 15px;
        color: aqua;
        padding-top: 10px;
      }
    }
  }
  